.btn-custom {
  background: $primary;
  padding: $space-sm $space-md;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.3s;

  &:hover {
    background: darken($primary, 10%);
  }
}
